/*#node
  position: absolute
  padding: 30px
  height: 150px
  cursor: move
  text-align: center
  color: #d3d3d3
  border-radius: 30px
  border: 1px solid #d3d3d3
  background: rgba(0, 0, 0, 0.5)*/

#node
  position: absolute
  padding: 30px
  height: 150px
  cursor: move
  text-align: center
  color: #d3d3d3
  border-radius: 30px
  background: linear-gradient(145deg, rgb(50, 50, 50), rgb(35, 35, 35))
  box-shadow:  7px 7px 16px rgb(25, 25, 25), -7px -7px 16px rgb(62, 62, 62)
  border: 0.1px solid rgba(255, 255, 255, 0.1)

  &:active
    background: linear-gradient(145deg, rgb(35, 35, 35), rgb(50, 50, 50))
